.left,
.left-1 {
    position: relative;
    left: -10%;
}

.left-2 {
    position: relative;
    left: -20%;
}

.left-3 {
    position: relative;
    left: -30%;
}

.left-4 {
    position: relative;
    left: -40%;
}

.left-5 {
    position: relative;
    left: -50%;
}

.left-6 {
    position: relative;
    left: -60%;
}

.left-7 {
    position: relative;
    left: -70%;
}

.left-8 {
    position: relative;
    left: -80%;
}

.left-9 {
    position: relative;
    left: -90%;
}

.left-10 {
    position: relative;
    left: -100%;
}

.left-mugen {
    position: relative;
    left: -10000%;
}

.right,
.right-1 {
    position: relative;
    left: 10%;
}

.right-2 {
    position: relative;
    left: 20%;
}

.right-3 {
    position: relative;
    left: 30%;
}

.right-4 {
    position: relative;
    left: 40%;
}

.right-5 {
    position: relative;
    left: 50%;
}

.right-6 {
    position: relative;
    left: 60%;
}

.right-7 {
    position: relative;
    left: 70%;
}

.right-8 {
    position: relative;
    left: 80%;
}

.right-9 {
    position: relative;
    left: 90%;
}

.right-10 {
    position: relative;
    left: 100%;
}

.right-mugen {
    position: relative;
    left: 10000%;
}

.tab,
.tab-1 {
    z-index: -1;
}

.tab-2 {
    z-index: -2;
}

.tab-3 {
    z-index: -3;
}

.tab-4 {
    z-index: -4;
}

.tab-5 {
    z-index: -5;
}

.tab-6 {
    z-index: -6;
}

.tab-7 {
    z-index: -7;
}

.tab-8 {
    z-index: -8;
}

.tab-9 {
    z-index: -9;
}

.tab-10 {
    z-index: -10;
}